<div class="overlay"  (click)="closeForm()">
  <div class="register-form" (click)="$event.stopPropagation()"> 
      <div class="cartel">
        <div class="container-title"> 
          <div class="title">
            <h2>Nuevo Curso</h2>
          </div>
          <div>
            <button type="button" class="btn btn-outline-danger" id="close" (click)="closeForm()">X</button>
          </div>
        </div>
      </div>
  

      <form [formGroup]="cursoForm" (ngSubmit)="OnSave()" class="border p-4 mb-4 bg-light rounded">
        <div class="form-check">
          <input type="checkbox" id="enableIdEdit" name="enableIdEdit" class="form-check-input" [formControl]="enableIdEditFormControl" (change)="onEnableIdEditChange()">
          <label for="enableIdEdit" class="form-check-label">Habilitar edición del ID</label>
        </div>
        
        <div class="form-group">
          <label for="id">ID del Curso</label>
          <input 
            type="number" 
            id="id" 
            name="id" 
            placeholder="ID del Curso"
            class="form-control" 
            formControlName="id" 
            [readonly]="!enableIdEditFormControl.value" 
            min="0"
          />
        </div>
        <div class="dates">
        <div class="form-group">
          <label for="fechaInicio">Fecha Inicio:</label>
          <input id="fechaInicio" formControlName="fechaInicio" type="date" class="form-control" required />
        </div>

        <div class="form-group">
          <label for="fechaFin">Fecha Fin:</label>
          <input id="fechaFin" formControlName="fechaFin" type="date" class="form-control" required />
        </div>
      </div>
        <div class="form-group">
          <label for="tema">Tema:</label>
          <select formControlName="tema" class="form-control">
            <option *ngFor="let tema of temas" [ngValue]="tema">{{ tema.id }} - {{ tema.nombre }}</option>
          </select>
        </div>


        <div class="form-group">
          <label for="docente">Docente:</label>
          <select formControlName="docente" class="form-control">
            <option *ngFor="let docente of docentes" [ngValue]="docente">{{ docente.id }} - {{ docente.nombre }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="precio">Precio:</label>
          <input id="precio" formControlName="precio" type="number" class="form-control" min="0" required />
        </div>

        <div class="form-group">
          <label for="alumnos">Alumnos:</label>
          <div formArrayName="alumnos" class="alumnos-grid">
            <div *ngFor="let alumnoControl of alumnosFormArray.controls; let i = index" [formGroupName]="i" class="mb-2">
              <div class="input-group mb-3">
                <select formControlName="alumnoId" class="form-select" id="inputGroupSelect{{i}}">
                  <option *ngFor="let alumno of alumnosDisponibles" 
                          [ngValue]="alumno.id" 
                          [disabled]="yaSeleccionado(alumno.id, i)">{{ alumno.nombre }}</option>
                </select>
                <button type="button" class="btn btn-outline-danger" (click)="eliminarAlumno(i)">
                  X
                </button>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-outline-primary" (click)="agregarAlumno()">Agregar Alumno</button>
        </div>
        <div class="form-group">
        <button type="submit" class="btn btn-primary mt-3">
          {{ enableIdEditFormControl.value ? 'Actualizar' : 'Crear' }} Curso
        </button>
        <button class="btn btn-warning float-right" (click)="resetForm()">Resetear</button>
        </div>
      </form>
