<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand"><i class="bi bi-house-door-fill"></i> {{data.titulo}}</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="alumnos" class="nav-link"><i class="fas fa-book me-1" aria-hidden="true"></i> {{data.List_caption[0]}}</a>
      </li>
      <li class="nav-item">
        <a routerLink="docentes" class="nav-link"><i class="fas fa-book me-1" aria-hidden="true"></i> {{data.List_caption[1]}}</a>
      </li>
      <li class="nav-item">
        <a routerLink="temas" class="nav-link"><i class="fas fa-book me-1" aria-hidden="true"></i> {{data.List_caption[2]}}</a>
      </li>
    </div>
 
  </nav>
  <div class="container mt-3">
  
   
  </div>
</div>
<router-outlet />
